---
layout: screen
title: Launch Clever dashboard theme
permalink: 'pages/tasks/board-view.html'
---

<!-- Offcanvas -->
{% inject "components/offcanvas-create-task.njk" %}

<!-- Modal -->
{% inject "components/modal-share.njk" %}

<div class="container-fluid h-full">
    <div class="d-flex h-full mx-n3">
        {% for group in tasks %}
        <div class="flex-shrink-0 flex-xl-fill d-flex flex-column w-80 h-full">
            <div class="px-3 mb-6">
                <span class="badge badge-lg badge-dot text-heading font-semibold">
                    <i class="bg-{{ group.color }}"></i>{{ group.name }}
                </span>
            </div>
            <div class="flex-1 overflow-y-auto">
                {% for task in group.content %}
                <div class="px-3 mb-3">
                    {% inject "components/card-progress-3.njk", {
                        task: task
                    } %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
