<!doctype html>
<html lang="{{ site.lang }}" data-theme="dark">
    <head>
        {% include 'meta.njk' %}
        {% include 'styles.njk' %}
    </head>
    <body>
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Sidebar -->
            {% include "partials/sidebar-base.njk" %}

            <!-- Content -->
            <div class="flex-lg-1 h-screen overflow-y-lg-auto">
                {% if navbar != false %}
                <!-- Navbar -->
                {% include "partials/navbar.njk" %}
                {% endif %}

                {% if header != false %}
                <!-- Navbar -->
                {% include "partials/header.njk" %}
                {% endif %}

                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    {{ content | safe }}
                </main>
            </div>
        </div>

        {# Scripts #}
        <script src="{{ '/js/main.js' | url }}"></script>
    </body>
</html>
