<header class="bg-surface-primary border-bottom py-6">
    <div class="container-fluid">
        <div>
            <div class="row align-items-center">
                <div class="col-md-6 col-12 d-flex align-items-center mb-5 mb-md-0">
                    <div class="col-auto">
                        <div class="w-20">
                            <img alt="..." class="img-fluid rounded-4" src="{{ '/img/companies/logo-1.png' | url }}">
                        </div>
                    </div>
                    <div class="ms-5">
                        <!-- Title -->
                        <h1 class="h2">Awesome Project</h1>
                        <!-- Subtitle -->
                        <p class="text-sm text-muted mt-1">
                            This is a small description of the project
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-12 text-md-end">
                    <!-- Avatar group -->
                    <div class="avatar-group">
                        <div class="avatar bg-soft-warning rounded-circle text-warning border border-2 border-solid border-body">
                            JM
                        </div>
                        <div class="avatar bg-soft-primary rounded-circle text-primary border border-2 border-solid border-body">
                            AE
                        </div>
                        <div class="avatar bg-warning rounded-circle text-white">
                            <img alt="..." src="{{ '/img/people/img-3.jpg' | url }}">
                        </div>
                    </div>
                    <!-- Button -->
                    <button type="button" class="btn btn-square btn-neutral border-2 border-dashed rounded-circle ms-4">+</button>
                </div>
            </div>
        </div>
    </div>
</header>
