<ul class="navbar-nav">
    <li>
        <span class="nav-link text-xs font-semibold text-uppercase text-muted ls-wide">
            Resources
        </span>
    </li>
    <li class="nav-item">
        <a class="nav-link py-2" href="/docs">
            <i class="bi bi-code-square"></i> Documentation
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-2 d-flex align-items-center" href="{{ site.changelog.url }}" target="_blank">
            <i class="bi bi-journals"></i>
            <span>Changelog</span>
            <span class="badge badge-sm bg-soft-success text-success rounded-pill ms-auto">v{{ site.version }}</span>
        </a>
    </li>
</ul>
