<ul class="navbar-nav">
    {% if group.name %}
    <li>
        <span class="nav-link text-xs font-semibold text-uppercase text-muted ls-wide">
            {{ group.name }}
        </span>
    </li>
    {% endif %}
    {% for item in group.content %}
    <li class="nav-item">
        <a class="nav-link{% if item.path in page.url %} active{% endif %}" href="#sidebar-{{ item.label | lower | replace(" ", "-")  }}"{% if item.submenu %} data-bs-toggle="collapse" role="button" aria-expanded="{% if item.path in page.url %}true{% else %}false{% endif %}" aria-controls="sidebar-{{ item.label | lower | replace(" ", "-") }}{% endif %}">
            <i class="bi bi-{{ item.icon }}"></i> {{ item.label }}
        </a>
        {% if item.submenu %}
        <div class="collapse{% if item.path in page.url %} show{% endif %}" id="sidebar-{{ item.label | lower | replace(" ", "-") }}">
            <ul class="nav nav-sm flex-column">
                {% for subitem in item.submenu %}
                <li class="nav-item">
                    <a href="{{ subitem.path | url }}" class="nav-link{% if subitem.path in page.url %} font-bold{% endif %}">
                        {{ subitem.label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if not loop.last %}
<!-- Divider -->
<hr class="navbar-divider my-5 opacity-70">
{% endif %}
